/* for bg --> bg-gradient-to-r from-[#FFA228] to-[#FF6432] */
/* for text add this --> bg-clip-text text-transparent  */

.nav-link {
  font-size: 1.125rem;
  color: #a3a3a3;
  transition: all 0.3s;
  white-space: nowrap;
}
.nav-link:hover {
  background: linear-gradient(to right, #ffa228, #ff6432);
  background-clip: text;
  color: transparent;
}
.btn-linear {
  position: relative;
  background:
    linear-gradient(#190a00, #1c0900) padding-box,
    linear-gradient(#ffa631 7.69%, #ff6939 81.11%) border-box;
  border: 1.43px solid transparent;
}
