/* for bg --> bg-gradient-to-r from-[#FFA228] to-[#FF6432] */
/* for text add this --> bg-clip-text text-transparent  */

/* Header navbar links */
.nav-link {
  font-size: 1.125rem;
  color: #a3a3a3;
  transition: all 0.3s;
  white-space: nowrap;
}
.nav-link:hover {
  background: linear-gradient(to right, #ffa228, #ff6432);
  background-clip: text;
  color: transparent;
}

.bg-linear {
  background: linear-gradient(261.48deg, #fe9c1c -17.13%, #ff5e2a 86.76%);
}

/* for btn border linear gradient color  */
.btn-linear {
  position: relative;
  background:
    linear-gradient(#190a00, #1c0900) padding-box,
    linear-gradient(#ffa631 7.69%, #ff6939 81.11%) border-box;
  border: 1.43px solid transparent;
}
/* for btn text linear gradient color  */
.btn-linear span {
  background: linear-gradient(261.69deg, #ff6432 12.12%, #ffa228 86.72%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* bg shadow for cards */
.bg-shadow {
  box-shadow: 0px 5.5px 24.46px 0px #ff6b000f;
}

/* for btn small circle  */
.sm-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border: none solid #a3a3a3;
  border-radius: 100%;
}
@media (min-width: 1024px) {
  .sm-circle {
    width: 40px;
    height: 40px;
  }
}

/* for extra small circle */
.esm-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2px;
  width: 14px;
  height: 14px;
  border: none solid #a3a3a3;
  border-radius: 100%;
}
@media (min-width: 1024px) {
  .esm-circle {
    width: 23px;
    height: 23px;
  }
}
